Repository Gannies/Gannies_FrontEnd, pull requests merged in 2024-10, with the labels that each got.

#78 Feat/#76 mypage post
  src/api/userApi.js
  src/components/AlignSelectMenu/data.js
  src/components/AlignSelectMenu/index.jsx
  src/components/Icons/Clock/index.jsx
  src/components/Modal/IsApproval/index.jsx
  src/components/Modal/IsTempPassword/index.jsx
  src/components/Modal/IsTempPassword/style.js
  src/components/Modal/IsWithdrawal/index.jsx
  src/components/Modal/style.js
  src/components/PostList/data.js
  src/components/PostList/index.jsx
  src/components/PostList/style.js
  src/hooks/useFetchAndPaginateMyPage.js
  src/hooks/useLoginCheck.js
  src/layouts/header/index.jsx
  src/pages/MyPage/PersonalInfo/index.jsx
  src/pages/MyPage/PostContents/index.jsx
  src/pages/MyPage/PostContents/style.js
  src/pages/MyPage/ScrappedPost/index.jsx
  src/pages/MyPage/WrittenPost/index.jsx
  src/utils/TimeToString/index.js
  src/utils/dateFormatting/index.js
  src/utils/getCategoryLabel/index.js
Labels: ✨feat, 🎨style

#82 Feat/#79 user status
  index.html
  package-lock.json
  package.json
  src/api/authApi.js
  src/api/axiosInstance.js
  src/components/Modal/IsSuspended/index.jsx
  src/components/Modal/Rejected/index.jsx
  src/components/Modal/index.jsx
  src/components/PostList/index.jsx
  src/components/PostList/style.js
  src/hooks/useLoginCheck.js
  src/hooks/useSelectorList.js
  src/hooks/useTempPassword.js
  src/hooks/useUserState.js
  src/layouts/header/index.jsx
  src/layouts/header/style.js
  src/pages/Community/index.jsx
  src/pages/Find/Password/index.jsx
  src/pages/Home/Post/index.jsx
  src/pages/Home/Posts/Post/index.jsx
  src/pages/Home/Posts/Post/style.js
  src/pages/Home/Posts/data.js
  src/pages/Home/Posts/index.jsx
  src/pages/Home/Posts/style.js
  src/pages/Home/SearchBar/index.jsx
  src/pages/Home/index.jsx
  src/pages/MyPage/PersonalInfo/index.jsx
  src/pages/MyPage/PostContents/index.jsx
  src/pages/SignIn/Buttons/index.jsx
  src/pages/SignUp/Department/Inputs/Document/index.jsx
  src/pages/SignUp/Department/Inputs/Document/style.js
  src/pages/SignUp/Department/index.jsx
  src/pages/SignUp/Info/Inputs/Email/index.jsx
  src/pages/SignUp/Info/Inputs/index.jsx
  src/pages/SignUp/Info/index.jsx
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/Success/index.jsx
  src/routes/PrivateRoute/index.jsx
  src/routes/SignOutRoute/index.jsx
  src/routes/router.jsx
  src/store/auth.js
  src/store/modalState.js
  src/utils/dateFormatting/index.js
  src/utils/itemLimit/index.js
  src/utils/statusToNumber/index.js
Labels: ✨feat, 🎨style

#83 Feat/#81 post search page
  package-lock.json
  package.json
  src/components/AlignSelectMenu/data.js
  src/components/AlignSelectMenu/index.jsx
  src/hooks/useFetchAndPaginate.js
  src/hooks/usePostSearch.js
  src/layouts/header/index.jsx
  src/layouts/header/style.js
  src/pages/Community/CommunityPost/index.jsx
  src/pages/Community/CommunityPost/style.js
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/pages/Home/SearchBar/index.jsx
  src/pages/Home/SearchBar/style.js
  src/pages/PostDetail/Modals/style.js
  src/pages/PostSearch/index.jsx
  src/pages/PostSearch/style.js
  src/routes/router.jsx
  src/store/navBarOptions.js
  src/styles/commonStyle/box.js
Labels: ✨feat

#90 Feat/#85 admin pages
  package-lock.json
  package.json
  src/api/adminApi.js
  src/api/authApi.js
  src/api/reportApi.js
  src/assets/images/admin_page_logo.png
  src/components/AlignSelectMenu/data.js
  src/components/AlignSelectMenu/index.jsx
  src/components/Loading/CommonLoadingCircle/index.jsx
  src/hooks/useFetchAndPaginate.js
  src/hooks/useLoginCheck.js
  src/hooks/useModalsControl.js
  src/hooks/useSelectorList.js
  src/layouts/index.jsx
  src/layouts/style.js
  src/pages/Admin/AdminSideTab/index.jsx
  src/pages/Admin/AdminSignIn/index.jsx
  src/pages/Admin/AdminSignIn/style.js
  src/pages/Admin/DeleteModal/index.jsx
  src/pages/Admin/MemberManagement/index.jsx
  src/pages/Admin/MemberManagement/style.js
  src/pages/Admin/Modals/DeleteModal/index.jsx
  src/pages/Admin/Modals/DeleteModal/style.js
  src/pages/Admin/Modals/PostOrCommentDetailModal/index.jsx
  src/pages/Admin/Modals/PostOrCommentDetailModal/style.js
  src/pages/Admin/Modals/ReportedReviewModal/index.jsx
  src/pages/Admin/Modals/ReportedReviewModal/style.js
  src/pages/Admin/Modals/UserBanModal/data.js
  src/pages/Admin/Modals/UserBanModal/index.jsx
  src/pages/Admin/Modals/UserBanModal/style.js
  src/pages/Admin/Modals/UserRejectReasonModal/index.jsx
  src/pages/Admin/Modals/UserRejectReasonModal/style.js
  src/pages/Admin/Modals/UserWithdrawModal/index.jsx
  src/pages/Admin/PostManagement/index.jsx
  src/pages/Admin/PostsAndCommentsManageMent/index.jsx
  src/pages/Admin/PostsAndCommentsManageMent/style.js
  src/pages/Admin/ReportHistory/index.jsx
  src/pages/Admin/ReportHistory/style.js
  src/pages/Admin/SearchInput/index.jsx
  src/pages/Admin/TableDesign/InnerModalOpenButton/index.jsx
  src/pages/Admin/TableDesign/InnerSelectModal/ModalInnerList/index.jsx
  src/pages/Admin/TableDesign/InnerSelectModal/index.jsx
  src/pages/Admin/TableDesign/TableBodyRow/index.jsx
  src/pages/Admin/UserApproval/index.jsx
  src/pages/Admin/UserApproval/style.js
  src/pages/Admin/UserBanModal/index.jsx
  src/pages/Admin/data.js
  src/pages/Community/index.jsx
  src/pages/CreateCommunityPost/HospitalSearchModal/index.jsx
  src/pages/CreateCommunityPost/index.jsx
  src/pages/PostDetail/Modals/index.jsx
  src/pages/PostDetail/MorePopup/index.jsx
  src/pages/PostSearch/index.jsx
  src/routes/router.jsx
  src/store/auth.js
  src/store/modalsControl.js
  src/styles/commonStyle/etc.js
  src/utils/sweetAlert/index.js
  src/utils/whiteSpaceCheck/index.js
Labels: ✨feat

#94 Feat/#91 page and api enhancements
  package-lock.json
  package.json
  src/components/AlignSelectMenu/data.js
  src/components/PageCategory/index.jsx
  src/components/Pagination/index.jsx
  src/hooks/useTinyMceImageUpload.js
  src/pages/Community/index.jsx
  src/pages/CreateCommunityPost/Buttons/index.jsx
  src/pages/CreateCommunityPost/HospitalSearchModal/index.jsx
  src/pages/CreateCommunityPost/index.jsx
  src/pages/PostDetail/CommentCreate/index.jsx
  src/pages/PostDetail/CommentCreate/style.js
  src/pages/PostDetail/PostCommentArea/index.jsx
  src/pages/PostDetail/index.jsx
  src/pages/PostDetail/style.js
  src/store/locations.js
  vite.config.js
Labels: ✨feat, ♻️refactor

#96 style/#93 redux-persist encryption and other error fixes
  package-lock.json
  package.json
  src/components/PostList/style.js
  src/hooks/usePostSearch.js
  src/hooks/useUserState.js
  src/layouts/Header/index.jsx
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/pages/CreateCommunityPost/PostCreateEditor/index.jsx
  src/routes/router.jsx
  src/store/num-slice.js
  src/store/store.js
  src/utils/crypto/index.jsx
Labels: ✨feat, 🎨style

#98 style/#97 frontend Modifications After Deployment
  src/components/AlignSelectMenu/data.js
  src/pages/Home/Link/data.js
  src/pages/MyPage/PostContents/index.jsx
  src/pages/PostDetail/index.jsx
  src/utils/crypto/index.jsx
Labels: ✨feat, 🎨style

#102 style/#99 Notion Modifications
  src/components/PostList/index.jsx
  src/pages/MyPage/PasswordChange/CurrentPassword/index.jsx
  src/pages/MyPage/PasswordChange/NewPassword/index.jsx
  src/pages/MyPage/PasswordChange/NewPasswordCheck/index.jsx
  src/pages/MyPage/PasswordChange/index.jsx
  src/pages/MyPage/PasswordChange/style.js
  src/pages/MyPage/PersonalInfo/index.jsx
  src/pages/MyPage/PersonalInfo/style.js
  src/pages/MyPage/index.jsx
  src/pages/PostDetail/index.jsx
  src/routes/router.jsx
Labels: ✨feat, 🎨style
