Repository Gannies/Gannies_FrontEnd, pull requests merged in 2024-08, with the labels that each got.

#2 [🔨chore]: 패키지 밑 라이브러리 설치
  .eslintrc.cjs
  .gitignore
  README.md
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/index.css
  src/main.jsx
  vite.config.js
Labels: 🔨chore

#6 [🐛fix]: 디렉토리 누락 오류 수정
  public/readme.md
  src/components/readme.md
  src/hooks/readme.md
  src/layouts/readme.md
  src/pages/readme.md
  src/store/readme.md
  src/utils/readme.md
Labels: 🐛fix

#7 [🔨chore]: #4 redux-toolit 및 react-query 세팅 완료
  package-lock.json
  src/App.jsx
  src/main.jsx
  src/states/num-slice.js
  src/states/store.js
Labels: 🔨chore

#12 [🎨style]: Header UI 구현
  package-lock.json
  package.json
  public/readme.md
  src/App.jsx
  src/assets/icons/bell.svg
  src/assets/icons/check.svg
  src/assets/icons/chevron_down.svg
  src/assets/icons/chevron_left.svg
  src/assets/icons/chevron_right.svg
  src/assets/icons/close.svg
  src/assets/icons/dashboard.svg
  src/assets/icons/department_verification_active.svg
  src/assets/icons/department_verification_inactive.svg
  src/assets/icons/document.svg
  src/assets/icons/double_chevron_lef.svg
  src/assets/icons/double_chevron_right.svg
  src/assets/icons/eclipse.svg
  src/assets/icons/eye.svg
  src/assets/icons/eye_slash.svg
  src/assets/icons/info_input_active.svg
  src/assets/icons/info_input_finished.svg
  src/assets/icons/info_input_inactive.svg
  src/assets/icons/like_active.svg
  src/assets/icons/like_inactive.svg
  src/assets/icons/message.svg
  src/assets/icons/profile.svg
  src/assets/icons/scrap_active.svg
  src/assets/icons/scrap_inactive.svg
  src/assets/icons/search.svg
  src/assets/icons/singup_finished.svg
  src/assets/icons/time.svg
  src/assets/icons/verification_active.svg
  src/assets/icons/verification_finished.svg
  src/assets/icons/warn.svg
  src/assets/images/404.png
  src/assets/images/banner.png
  src/assets/images/logo.png
  src/assets/react.svg
  src/index.css
  src/layouts/header/index.jsx
  src/layouts/header/style.jsx
  src/layouts/readme.md
  src/pages/Main.jsx
  src/pages/readme.md
  src/styles/GlobalStyle.jsx
  src/styles/Header.jsx
Labels: 🎨style

#13 [🎨style]: #9 font 밑 icon 셋팅
  public/readme.md
  src/assets/fonts/Pretendard-Bold.woff
  src/assets/fonts/Pretendard-Light.woff
  src/assets/fonts/Pretendard-Medium.woff
  src/assets/fonts/Pretendard-Regular.woff
  src/assets/fonts/Pretendard-SemiBold.woff
  src/assets/fonts/font.css
  src/assets/icons/arrows/chevron_down.svg
  src/assets/icons/arrows/chevron_left.svg
  src/assets/icons/arrows/chevron_right.svg
  src/assets/icons/arrows/double_chevron_lef.svg
  src/assets/icons/arrows/double_chevron_right.svg
  src/assets/icons/etc/bell.svg
  src/assets/icons/etc/check.svg
  src/assets/icons/etc/close.svg
  src/assets/icons/etc/dashboard.svg
  src/assets/icons/etc/department_verification_active.svg
  src/assets/icons/etc/department_verification_inactive.svg
  src/assets/icons/etc/document.svg
  src/assets/icons/etc/eclipse.svg
  src/assets/icons/etc/info_input_active.svg
  src/assets/icons/etc/info_input_finished.svg
  src/assets/icons/etc/info_input_inactive.svg
  src/assets/icons/etc/message.svg
  src/assets/icons/etc/profile.svg
  src/assets/icons/etc/search.svg
  src/assets/icons/etc/singup_finished.svg
  src/assets/icons/etc/time.svg
  src/assets/icons/etc/verification_active.svg
  src/assets/icons/etc/verification_finished.svg
  src/assets/icons/etc/warn.svg
  src/assets/icons/eyes/eye.svg
  src/assets/icons/eyes/eye_slash.svg
  src/assets/icons/hearts/like_active.svg
  src/assets/icons/hearts/like_inactive.svg
  src/assets/icons/scraps/scrap_active.svg
  src/assets/icons/scraps/scrap_inactive.svg
  src/index.css
  src/layouts/header/index.jsx
  src/main.jsx
  src/store/num-slice.js
  src/store/store.js
Labels: 🎨style

#15 [🎨style]: #14 Footer UI 제작
  src/assets/images/logo.png
  src/index.css
  src/layouts/footer/index.jsx
  src/layouts/footer/style.jsx
  src/layouts/header/style.jsx
  src/pages/Main.jsx
  src/styles/Header.jsx
Labels: 🎨style

#18 [🎨style]: #16 레이아웃 페이지 완성 밑 특정 페이지 라우팅 완료
  src/App.jsx
  src/layouts/Layout.jsx
  src/layouts/footer/index.jsx
  src/layouts/footer/style.jsx
  src/layouts/header/index.jsx
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/pages/CreatePost/index.jsx
  src/pages/CreatePost/style.js
  src/pages/Home/index.jsx
  src/pages/Home/style.js
  src/pages/Main.jsx
  src/routes/router.js
Labels: ✨feat, 🎨style

#23 #17 메인 페이지 UI 제작 및 공용 컴포넌트 (아이콘, 게시물 목록) 제작
  src/App.jsx
  src/assets/icons/hearts/heart_active.svg
  src/assets/icons/hearts/heart_inactive.svg
  src/assets/images/department.png
  src/components/Icons/Eye/index.jsx
  src/components/Icons/HeartInactive/index.jsx
  src/components/Icons/style.jsx
  src/components/PostList/index.jsx
  src/components/PostList/style.jsx
  src/layouts/Navbar/index.jsx
  src/layouts/Navbar/style.jsx
  src/layouts/footer/style.jsx
  src/layouts/header/index.jsx
  src/layouts/header/style.jsx
  src/pages/Home/Banner/index.jsx
  src/pages/Home/Banner/style.jsx
  src/pages/Home/Link/index.jsx
  src/pages/Home/Link/style.jsx
  src/pages/Home/Post/NewPost/index.jsx
  src/pages/Home/Post/PopularPost/index.jsx
  src/pages/Home/Post/index.jsx
  src/pages/Home/Post/style.jsx
  src/pages/Home/SearchBar/index.jsx
  src/pages/Home/SearchBar/style.jsx
  src/pages/Home/index.jsx
  src/pages/Login/index.jsx
  src/pages/Login/style.jsx
  src/routes/router.jsx
Labels: 🎨style

#28 Style/#27 layout component update and pascal case apply
  src/layouts/Layout.jsx
  src/layouts/header/index.jsx
  src/pages/Home/index.jsx
Labels: Ⓜ️rename, 🎨style

#30 #19 로그인 페이지 UI 제작 완료
  src/components/Icons/EyeSlash/index.jsx
  src/components/Input/index.jsx
  src/components/Input/style.js
  src/components/PostList/index.jsx
  src/layouts/Navbar/index.jsx
  src/layouts/footer/index.jsx
  src/layouts/header/index.jsx
  src/layouts/header/style.js
  src/pages/Home/SearchBar/index.jsx
  src/pages/Home/SearchBar/style.js
  src/pages/Login/index.jsx
  src/pages/Login/style.js
  src/pages/SignIn/Buttons/index.jsx
  src/pages/SignIn/Buttons/style.js
  src/pages/SignIn/Inputs/index.jsx
  src/pages/SignIn/Inputs/style.js
  src/pages/SignIn/Title/index.jsx
  src/pages/SignIn/Title/style.js
  src/pages/SignIn/index.jsx
  src/pages/SignUp/index.jsx
  src/routes/router.jsx
Labels: 🎨style

#31 Style/#19 community page UI create
  src/assets/icons/etc/brush.svg
  src/components/Icons/Eye/index.jsx
  src/components/Icons/HeartInactive/index.jsx
  src/components/Icons/style.js
  src/components/PageControlArrow/index.jsx
  src/components/PageNumber/index.jsx
  src/components/PostList/index.jsx
  src/pages/Community/CommunityBanner/index.jsx
  src/pages/Community/CommunityPost/index.jsx
  src/pages/Community/CommunityPost/style.js
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/styles/commonStyle.js
Labels: ✨feat, 🎨style

#37 Style #36 ID/PASSWORD find page UI create
  src/pages/Find/ID/Success/index.jsx
  src/pages/Find/ID/Success/style.js
  src/pages/Find/ID/index.jsx
  src/pages/Find/Password/Success/index.jsx
  src/pages/Find/Password/index.jsx
  src/pages/Find/components/Active/index.jsx
  src/pages/Find/components/EmailBox/index.jsx
  src/pages/Find/components/FindBox/index.jsx
  src/pages/Find/components/Inactive/index.jsx
  src/pages/Find/components/Wrapper/index.jsx
  src/pages/Find/components/Wrapper/style.js
  src/pages/SignIn/Buttons/index.jsx
  src/pages/SignIn/Buttons/style.js
  src/pages/SignUp/Success/index.jsx
  src/routes/router.jsx
Labels: 🎨style

#39 Style/#38 modal UI create
  src/assets/icons/etc/check_circle_active.svg
  src/assets/icons/etc/check_circle_inactive.svg
  src/assets/images/warn.png
  src/components/Icons/Close/index.jsx
  src/components/ModalContainer/index.jsx
  src/layouts/Navbar/index.jsx
  src/layouts/Navbar/style.js
  src/pages/Find/ID/Success/Modal/index.jsx
  src/pages/Find/ID/Success/Modal/style.js
  src/pages/Find/ID/Success/index.jsx
  src/pages/SignIn/Buttons/Modal/index.jsx
  src/pages/SignIn/Buttons/Modal/style.js
  src/pages/SignIn/Buttons/index.jsx
  src/pages/SignUp/Identity/Agree/Modal/index.jsx
  src/pages/SignUp/Identity/Agree/Modal/style.js
  src/pages/SignUp/Identity/Agree/index.jsx
  src/pages/SignUp/Identity/index.jsx
  src/pages/SignUp/Success/Modal/index.jsx
  src/pages/SignUp/Success/Modal/style.js
  src/pages/SignUp/Success/index.jsx
  src/routes/router.jsx
  src/styles/commonStyle.js
Labels: 🎨style

#40 Style/#32 community post create page UI create
  package-lock.json
  package.json
  src/assets/icons/search/search_black.svg
  src/assets/icons/search/search_default.svg
  src/components/CommunityBanner/index.jsx
  src/components/CommunityBannerText/index.jsx
  src/components/PageCategory/index.jsx
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/pages/CreateCommunityPost/Buttons/index.jsx
  src/pages/CreateCommunityPost/CategoryTitle/index.jsx
  src/pages/CreateCommunityPost/HospitalSearchModal/index.jsx
  src/pages/CreateCommunityPost/HospitalSearchModal/style.js
  src/pages/CreateCommunityPost/PostCreateEditor/index.jsx
  src/pages/CreateCommunityPost/data.js
  src/pages/CreateCommunityPost/index.jsx
  src/pages/CreateCommunityPost/style.js
  src/pages/CreatePost/index.jsx
  src/pages/CreatePost/style.js
  src/routes/router.jsx
  src/styles/GlobalStyle.js
  src/styles/commonStyle.js
Labels: 📝docs, 🔨chore, 🎨style

#45 Refactor/#44 common style refactor
  src/components/AlignSelectMenu/index.jsx
  src/components/CommunityBannerText/index.jsx
  src/components/Input/style.js
  src/components/Instruction/index.jsx
  src/components/PageControlArrow/index.jsx
  src/components/PageNumber/index.jsx
  src/layouts/header/style.js
  src/pages/Community/CommunityPost/style.js
  src/pages/Community/style.js
  src/pages/CreateCommunityPost/Buttons/index.jsx
  src/pages/CreateCommunityPost/style.js
  src/pages/Error/style.js
  src/pages/Find/ID/Success/Modal/style.js
  src/pages/Find/ID/Success/style.js
  src/pages/Find/components/EmailBox/index.jsx
  src/pages/Home/SearchBar/style.js
  src/pages/MyPage/PasswordChange/style.js
  src/pages/MyPage/PersonalInfo/style.js
  src/pages/MyPage/PostContents/style.js
  src/pages/MyPage/style.js
  src/pages/SignIn/Buttons/Modal/style.js
  src/pages/SignIn/Buttons/style.js
  src/pages/SignIn/Inputs/style.js
  src/pages/SignUp/Department/Inputs/Document/style.js
  src/pages/SignUp/Department/Inputs/Status/style.js
  src/pages/SignUp/Identity/Agree/Modal/style.js
  src/pages/SignUp/Identity/Agree/style.js
  src/pages/SignUp/Identity/Inputs/PhoneNumber/style.js
  src/pages/SignUp/Identity/Inputs/VerifyNumber/style.js
  src/pages/SignUp/Info/Inputs/Password/style.js
  src/pages/SignUp/Success/Modal/style.js
  src/pages/SignUp/Success/style.js
  src/pages/SignUp/components/DefaultInput/style.js
  src/pages/SignUp/components/Icons/style.js
  src/pages/SignUp/components/InputSection/style.js
  src/pages/SignUp/components/NextButton/style.js
  src/pages/SignUp/components/Title/style.js
  src/styles/commonStyle.js
  src/styles/commonStyle/box.js
  src/styles/commonStyle/etc.js
  src/styles/commonStyle/input.js
  src/styles/commonStyle/text.js
  src/styles/commonStyle/wrapper.js
Labels: ♻️refactor, 🔨chore

#48 Refactor/#47 bundle font style define and page compoenent refactor
  src/components/AlignSelectMenu/index.jsx
  src/components/Icons/style.js
  src/components/PageCategory/index.jsx
  src/components/PageNumber/index.jsx
  src/components/Pagination/index.jsx
  src/components/Pagination/style.js
  src/components/PostList/style.js
  src/layouts/Navbar/style.js
  src/layouts/footer/style.js
  src/pages/Community/CommunityPost/style.js
  src/pages/Community/index.jsx
  src/pages/Community/style.js
  src/pages/CreateCommunityPost/Buttons/index.jsx
  src/pages/CreateCommunityPost/CategoryTitle/index.jsx
  src/pages/CreateCommunityPost/HospitalSearchModal/style.js
  src/pages/CreateCommunityPost/style.js
  src/pages/Error/style.js
  src/pages/Find/ID/Success/Modal/style.js
  src/pages/Find/components/Active/index.jsx
  src/pages/Find/components/Inactive/index.jsx
  src/pages/Find/components/Wrapper/style.js
  src/pages/Home/Link/style.js
  src/pages/Home/Post/style.js
  src/pages/MyPage/PasswordChange/style.js
  src/pages/MyPage/PersonalInfo/style.js
  src/pages/MyPage/PostContents/index.jsx
  src/pages/MyPage/PostContents/style.js
  src/pages/MyPage/SideTabMenu/index.jsx
  src/pages/MyPage/index.jsx
  src/pages/MyPage/style.js
  src/pages/SignIn/Buttons/Modal/style.js
  src/pages/SignIn/Buttons/style.js
  src/pages/SignIn/Title/style.js
  src/pages/SignUp/Department/Inputs/Document/style.js
  src/pages/SignUp/Identity/Agree/Modal/style.js
  src/pages/SignUp/Identity/Agree/style.js
  src/pages/SignUp/Identity/Inputs/PhoneNumber/style.js
  src/pages/SignUp/Identity/Inputs/VerifyNumber/style.js
  src/pages/SignUp/Success/Modal/style.js
  src/pages/SignUp/Success/style.js
  src/pages/SignUp/components/Icons/style.js
  src/styles/commonStyle/box.js
  src/styles/commonStyle/localTextStyle.js
  src/styles/commonStyle/text.js
Labels: ♻️refactor, 🔨chore
